*{
    margin: 0px;
    padding: 0px;
	font-family: Georgia, serif;
}
			
html, body {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
	background: white url(/blog/public/images/logo/windows.jpg); /* Цвет фона и путь к файлу */
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: black;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

a {
	color:white;
	font-weight:bold;
}

.black {
	color:black;
}

#count_like_heart {
	cursor:pointer;
}

.nav-link.active {
	opacity:0.4;
}

.footer {
	color: white;
}

.link_autor {
	color: black;
}